openapi: 3.0.3
info:
  title: EazyShop Products APIs Definitions
  description: Using this OPENAPI specification, consumers can understand the  APIs that are exposed by CCI
  termsOfService: https://eazyshop.com/terms/
  license:
    name: Eazyshop License
    url: https://www.eazyshop.com/licenses/LICENSE-2.0.html
  contact:
    name: API Support
    url: https://www.eazyshop.com/support
    email: support@eazyshop.com
  version: 0.0.1
servers:
  - url: https://development.eazyshop-server.com/v1
    description: Development Server
  - url: https://staging.eazyshop-server.com/v1
    description: Staging Server
  - url: https://api.eazyshop-server.com/v1
    description: Production Server  
  - url: https://{username}.server.com:{port}/{version}
    variables:
      username: 
        default: demo
        description: This value is assigned by the service provider.
      port:
        enum:
          - "8443"
          - "443"
        default: "8443"
      version:
        default: v1
paths: 
  /categories:
    get:
      summary: List all categories
      description: Returns the list of categories supported by EazyShop
      parameters:
      - name: categoryId
        in: query
        schema:
          type: integer
          minimum: 100
          maximum: 1000
        example: 101  
      responses:
        '200':
          description: A list of categories
          content: 
            application/json:
              schema: 
                type: array
                items: 
                  type: object
                  properties:
                    categoryId:
                      type: integer
                    name:
                      type: string
  /categories/{categoryId}:
    get:
      summary: Returns category details
      description: Returns the categories details supported by EazyShop
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
          minimum: 100
          maximum: 1000
        example: 102  
      responses:
        '200':
          description: A list of categories
          content: 
            application/json:
              schema: 
                type: object
                properties:
                  categoryId:
                    type: integer
                  name:
                    type: string
  /products:
    get:
      summary: List all products
      description: |
        Returns the list of products supported by EazyShop
      parameters:
      - name: categoryId
        in: query
        schema:
          type: integer
          minimum: 100
          maximum: 1000
        example: 102  
      responses:
        '200':
          description: A list of categories
          content: 
            application/json:
              schema: 
                type: array
                items:
                  type: object
                  properties:
                    productId:
                      type: integer
                    name:
                      type: string  
                    price:
                      type: number  
                    categoryName:
                      type: string  
                    quantity:
                      type: integer    
  /products/{productId}:
    get:
      summary: Return category details
      description: |
        Returns the products details supported by EazyShop
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: integer
          minimum: 100
          maximum: 1000
        example: 102  
      responses:
        '200':
          description: Return category details
          content: 
            application/json:
              schema: 
                type: object
                properties:
                  productId:
                    type: integer
                  name:
                    type: string  
                  price:
                    type: number  
                  categoryName:
                    type: string  
                  quantity:
                    type: integer                   
  /orders:
    post:
      summary: Create Order
      description: |
        Post order details to EzyShop for Processing and Shipping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name:
                        type: string  
                      price:
                        type: number  
                      categoryName:
                        type: string  
                      quantity:
                        type: integer 
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
    put:
      summary: Update Order
      description: |
        Update order details to EzyShop for Processing and Shipping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                orderId:
                  type: integer
                products:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: integer
                      name:
                        type: string  
                      price:
                        type: number  
                      categoryName:
                        type: string  
                      quantity:
                        type: integer 
                address:
                  type: object
                  properties:
                    addressLine:
                      type: string
                    city:
                      type: string
                    state:
                      type: string
      responses:
        '200':
          description: Order details updated successfully
    delete:
      summary: Delete Order
      description: |
        Delete order details to EazyShop for Processing and Shipping
      parameters:
        - name: OrderId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Order details cancelled successfully
    get:
      summary: Get Order Details
      description: Get Order details from EazyShop
      parameters:
        - name: orderId
          in: query
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Fetch Order details successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: integer
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        productId:
                          type: integer
                        name:
                          type: string  
                        price:
                          type: number  
                        categoryName:
                          type: string  
                        quantity:
                          type: integer 
                  address:
                    type: object
                    properties:
                      addressLine:
                        type: string
                      city:
                        type: string
                      state:
                        type: string                
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
